<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-button horizontal = "end" size="small" (click)="goHome();" color="secondary">
     HOME 
    </ion-button>
    <ion-title>Verduras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor = "let v of verduras">
    <ion-item (click) = "agregarACarrito(v.name);">
      <ion-label>{{v.name}}</ion-label>
      <ion-label>{{v.precio}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
