<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Colocar el ! en email!.touched etc. para q no reclame por null Ts qlo-->

<ion-content [fullscreen]="true">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeHolder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeHolder="Password(por ahora se ve)" formControlName="password"></ion-input>
    </ion-item>
    
    <ion-button type=""submit [disabled]="!credentials.valid">Login</ion-button>
    <ion-button type="button" (click)="register()">Registarse</ion-button>
  </form>
</ion-content>
