<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button horizontal = "end" size="small" (click)="goHome();" color="secondary">
     HOME 
    </ion-button>
    <ion-title>Frutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal = "end">
    <ion-fab-button (click)="addNewFruta();">
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor = "let f of frutas">
      <ion-avatar slot="start">
        <ion-img [src]="f.imageURL" [routerLink] = "['/frutas',f.id]"></ion-img>
      </ion-avatar>
      <ion-label>{{f.name}}</ion-label>
      <ion-button (click)="addToCarrito(f.name,f.price);">Agregar a carrito</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
